<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/animepageinfo.css">
        <title>Anime Info</title>
</head>

<body>
    <%- include('partials/load') %>
        <%- include('partials/navbar') %>
            <div class="banner"
                style="background-image: url('<%= anime.attributes.coverImage?.large || `https://media.discordapp.net/attachments/722887140723392625/1087531695630209064/image.png` %>')">
            </div>
            <div class="poster">
                <img src="<%= anime.attributes.posterImage?.small %>" width="300px">
                <div class="actions">
                    <button><i class="fa-solid fa-heart-circle-plus"></i> Favoritar</button>
                    <button><i class="fa-solid fa-check"></i> Assistido</button>
                    <button><i class="fa-solid fa-clock"></i> Assistir</button>
                </div>
                <div class="anime-desc">
                    <h2>
                        <%= anime.attributes.canonicalTitle %>
                    </h2>
                    <div class="anime-d">
                        <span>Episodios:</span>
                        <%= anime.attributes.episodeCount || "???" %>
                    </div>
                    <div class="anime-d">
                        <span>Lançamento:</span>
                        <%= (new Date(anime.attributes.startDate)).toLocaleDateString() || "???" %>
                    </div>
                    <div class="anime-d">
                        <span>Status:</span>
                        <%= anime.attributes.status.replace("current", "Em exibição" ).replace("finished", "Finalizado"
                            ).replace("unreleased", "Não lançado" ).replace("upcoming", "Em breve" ) || "???" %>
                    </div>
                    <style>
                        .actions button:hover {
                            background-color: aquamarine;
                         }
                        .actions button {
                            transition: all 0.5s;
                            border: none;
                            border-radius: 2px;
                            background-color: rgb(255, 255, 255);
                            cursor: pointer;
                            font-weight: 100;
                            font-size: larger;
                            height: 40px;
                            margin-top: 15px;
                            width: 100%;
                        }
                        .actions {
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            top: 100%;
                            position: absolute;
                        }

                        .anime-d span {
                            color: rgb(226, 225, 225);
                            font-family: monospace;
                        }

                        .anime-d {
                            font-size: larger;
                            color: rgb(183, 208, 255) !important;
                            font-family: monospace;
                            margin: 8px;
                            text-align: justify;
                            font-weight: 100;
                            color: white;
                            border-bottom: 1px solid rgba(128, 128, 128, 0.397);
                        }
                    </style>
                </div>
            </div>
            <div class="yt-video">
                <h1 translate="no">Trailer</h1>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/<%= anime.attributes.youtubeVideoId %>"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <section id="episodios"
                style="align-items: center; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <div class="episodes-container">
                    <h1 style="color: white;">Episodios</h1>
                    <% for(let i in episodes) { %>
                        <a href="animes/anime/<%= anime.id %>/assistir/<%= parseInt(i) + 1 %>">
                            <div class="episodes-card">
                                <img
                                    src="<%= episodes[i].attributes.thumbnail?.original || anime.attributes.posterImage?.small %>">
                                <div class="anime-texts">
                                    <h4>
                                        <%= episodes[i].attributes.canonicalTitle %>
                                    </h4>
                                    <h5>EPISÓDIO <%= episodes[i].attributes.number %>
                                    </h5>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
                <div class="display">
                    <button id="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> Págima anterior</button>
                    <button id="next">Proxima página <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <script>
                    let episodesSec = $(".episodios")
                    let currentPage = 0
                    let episodesDiv = $(".episodes-container")

                    $("#next").click(function (e) {
                        $("#next").prop('disabled', true)
                        $.post(window.location.href, {
                            offset: currentPage
                        }, function (res, status) {
                            console.log(res)
                            if (status != "success") return 0;
                            episodesDiv.empty()
                            currentPage = res.page
                            episodesDiv.append(`<h1 style="color: white;">Episodios</h1>`)
                            for (let episode of res.episodes) {
                                episodesDiv.append(`<a href="animes/anime/<%= anime.id %>/assistir/${episode.attributes.number}"><div class="episodes-card"><img src="${episode.attributes.thumbnail?.original}"><div class="anime-texts"><h4>${episode.attributes.canonicalTitle}</h4><h5>EPISÓDIO ${episode.attributes.number}</h5></div></div></a>`)
                            }
                            $("#next").prop('disabled', false)
                            $('html, body').animate({
                                scrollTop: 1100
                            }, 600);
                        })

                    })
                </script>
            </section>
            <%- include('partials/footer') %>
</body>

</html>