<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/animepageinfo.css">
        <title>Anime Info</title>
</head>

<body>
    <%- include('partials/load') %>
        <%- include('partials/navbar') %>
            <div class="banner"
                style="background-image: url('<%= anime.attributes.coverImage?.large || `https://media.discordapp.net/attachments/722887140723392625/1087531695630209064/image.png` %>')">
            </div>
            <div class="poster">
                <img src="<%= anime.attributes.posterImage?.small %>" width="300px">
                <div class="anime-desc">
                    <h2>
                        <%= anime.attributes.canonicalTitle %>
                    </h2>
                    <p style="color: white;">
                        <%= anime.attributes.synopsis %>
                    </p>
                </div>
            </div>
            <div class="yt-video">
                <h1 translate="no">Trailer</h1>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/<%= anime.attributes.youtubeVideoId %>"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <section id="episodios"
                style="align-items: center; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <div class="episodes-container">
                    <h1 style="color: white;">Episodios</h1>
                    <% for(let episode of episodes) { %>
                        <a href="animes/anime/<%= anime.id %>/assistir/<%= 1 %>">
                            <div class="episodes-card">
                                <img src="<%= episode.attributes.thumbnail?.original || anime.attributes.posterImage?.small %>">
                                <div class="anime-texts">
                                    <h4>
                                        <%= episode.attributes.canonicalTitle %>
                                    </h4>
                                    <h5>EPISÓDIO <%= episode.attributes.number %>
                                    </h5>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
                <div class="display">
                    <button id="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> Págima anterior</button>
                    <button id="next">Proxima página <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <script>
                    let episodesSec = $(".episodios")
                    let animeId = "<%= anime.id %>"
                    let currentPage = 0
                    let episodesDiv = $(".episodes-container")

                    $("#next").click(function (e) {
                        $("#next").prop('disabled', true)
                        $.post(window.location.href, {
                            offset: currentPage
                        }, function (res, status) {
                            console.log(res)
                            if (status != "success") return 0;
                            episodesDiv.empty()
                            currentPage = res.page
                            episodesDiv.append(`<h1 style="color: white;">Episodios</h1>`)
                            for (let episode of res.episodes) {
                                episodesDiv.append(`<a href="animes/anime/${animeId}/assistir/${episode.attributes.number}"><div class="episodes-card"><img src="${episode.attributes.thumbnail?.original}"><div class="anime-texts"><h4>${episode.attributes.canonicalTitle}</h4><h5>EPISÓDIO ${episode.attributes.number}</h5></div></div></a>`)
                            }
                            $("#next").prop('disabled', false)
                            $('html, body').animate({
                                scrollTop: 1100
                            }, 600);
                        })

                    })
                </script>
            </section>
            <%- include('partials/footer') %>
</body>

</html>