<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/assistir.css">
        <title>Assistindo: <%= anime.attributes.canonicalTitle %>: Episódio n. <%= episode %>
        </title>
</head>

<body>
    <%- include('partials/load') %>
        <%- include('partials/navbar') %>
            <div class="stream">
                <h1>Assistindo: <%= anime.attributes.canonicalTitle %>: Episódio n. <%= episode %>
                </h1>
                <div class="iframe-container">
                    <iframe scrolling="no" src="<%= streamUrl %>" allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true" id="stream"></iframe>
                </div>
                <a href="/animes/anime/<%= anime.id %>/assistir/<%= episode - 1 %>"><button class="player-buttons"><i
                            class="fa fa-arrow-left" aria-hidden="true"></i> Episódio anterior</button></a>
                <a href="/animes/anime/<%= anime.id %>/assistir/<%= episode + 1 %>"><button
                        class="player-buttons">Próximo episódio <i class="fa fa-arrow-right"
                            aria-hidden="true"></i></button></a>
                <a><button class="player-buttons" onclick="history.back()"><i class="fa fa-film" aria-hidden="true"></i>
                        Todos os episodios</button></a>
                <a><button class="player-buttons" onclick="location.reload()"><i class="fa fa-refresh"
                            aria-hidden="true"></i> Recarregar video / Ver em inglês</button></a>
                <% if(temDublado) { %>
                    <a><button style="background: gold;" onclick="openDublado()" class="player-buttons"><i
                                class="fa fa-language" aria-hidden="true"></i> Assistir
                            dublado</button></a>
                    <% } %>
            </div>

            <script>
                function openDublado() {
                    Swal.fire({
                        title: 'Clique no botão "Copiar" para copiar o link do video dublado, em seguida cole o link no seu nevagador.',
                        showCancelButton: true,
                        confirmButtonText: 'Copiar',
                        cancelButtonText: `Deixa pra lá`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            navigator.clipboard.writeText('<%= dubLink %>');
                            Swal.fire('Link copiado para a aréa de transferencia.', '', 'success')
                        }
                    })
                }
            </script>

            <%- include('partials/footer') %>
</body>

</html>