<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/assistir.css">
        <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
        <title>Assistindo: <%= anime.attributes.canonicalTitle %>: Epis贸dio n. <%= episode %>
        </title>
</head>

<body>
    <%- include('partials/load') %>
        <%- include('partials/navbar') %>
            <div class="stream">
                <h1> <%= anime.attributes.canonicalTitle %> <i>Epis贸dio n. <%= episode %></i></h1>
                <h5 style="color: red; font-weight: 100;"><i>* Alguns animes n茫o possuem a vers茫o dublada ou legendada,
                        apenas a vers茫o em ingl锚s.<br>Para assistir na pt-BR clique no bot茫o destacado em dourado.</i>
                </h5>
                <div class="iframe-container">
                    <% if(temDublado.bool) { %>
                        <video width="100%" height="100%" controls poster="/images/logo7.png">
                            <source src="<%= temDublado.url %>" type="video/mp4" name="dublado">
                            Seu navegador n茫o suporta a tag de video.
                        </video>
                        <% } %>
                            <iframe scrolling="no" src="<%= streamUrl %>" allowfullscreen="true"
                                webkitallowfullscreen="true" mozallowfullscreen="true" id="stream"></iframe>
                </div>
                <a href="/animes/anime/<%= anime.id %>/assistir/<%= episode - 1 %>"><button class="player-buttons"><i
                            class="fa fa-arrow-left" aria-hidden="true"></i> Epis贸dio anterior</button></a>
                <a href="/animes/anime/<%= anime.id %>/assistir/<%= episode + 1 %>"><button
                        class="player-buttons">Pr贸ximo epis贸dio <i class="fa fa-arrow-right"
                            aria-hidden="true"></i></button></a>
                <a><button class="player-buttons" onclick="history.back()"><i class="fa fa-film" aria-hidden="true"></i>
                        Todos os episodios</button></a>
                <a><button class="player-buttons" onclick="location.reload()" id="recarregar"><i class="fa fa-refresh"
                            aria-hidden="true"></i> Recarregar video</button></a>
                <% if(temDublado.bool) { %>
                    <a><button style="background: #ffd700; box-shadow: 0px 0px 15px 0px rgba(255,215,0,1);"
                            onclick="getDublado()" class="player-buttons" id="dublado"></button></a>
                    <% } %>
            </div>
            <script>
                twemoji.parse(document.body)
                if ('<%= temDublado.url %>'.includes('dublado')) $('#dublado').html('<i class="fa fa-language" aria-hidden="true"></i> Assistir Dublado')
                else $('#dublado').html('<i class="fa fa-language" aria-hidden="true"></i> Assistir Legendado')
                function getDublado() {
                    $('#recarregar').html('<i class="fa fa-refresh" aria-hidden="true"></i> Voltar para o ingl锚s')
                    $('video').css('display', 'block');
                    $(window.document.getElementById('stream')).remove();
                    $('#dublado')[0].disabled = true
                    $('#dublado').css('cursor', 'not-allowed')
                }
            </script>
            <%- include('partials/footer') %>
</body>

</html>